<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Orden de Compra</title>
</head>
<body>
    <div>
        <table width="80%" cellspacing="0" cellpadding="0">
            <tr>
                <td align="left">
                    <b>Fecha:</b>
                </td>
                <td width="50%">
                </td>
                <td align="right">
                    <b>Pag.</b>
                </td>
            </tr>
            <tr>
                <td colspan="3" align="center">
                    <b>COMPROBANTE DE RETENCIÓN DE IMPUESTO MUNICIPAL </b>
                </td>
            </tr>
            <tr>
                <td colspan="3" align="center">
                    <p>
                        <b>Período:</b></p>
                </td>
            </tr>
        </table>
        <table width="80%" cellspacing="0" cellpadding="0">
            <tr>
                <td style="width: 48%">
                </td>
                <td>
                </td>
                <td style="width: 48%" align="center">
                    <b>EMPRESA AGENTE DE RETENCIÓN</b>
                </td>
            </tr>
            <tr>
                <td style="width: 48%" align="left">
                    <p>
                        <b>Razón Social:</b></p>
                </td>
                <td>
                </td>
                <td style="width: 48%" align="left">
                    <p>
                        <b>Razón Social:</b></p>
                </td>
            </tr>
            <tr>
                <td style="width: 48%" align="left">
                    <p>
                        <b>RIF:</b></p>
                </td>
                <td>
                </td>
                <td style="width: 48%" align="left">
                    <p>
                        <b>RIF:</b></p>
                </td>
            </tr>
            <tr>
                <td style="width: 48%" align="left">
                    <p>
                        <b>Dirección Fiscal:</b></p>
                </td>
                <td>
                </td>
                <td style="width: 48%" align="left">
                    <p>
                        <b>Dirección Fiscal:</b></p>
                </td>
            </tr>
        </table>
        <br />
        <table width="80%">
            <tr>
                <td colspan="11">
                    <hr />
                </td>
            </tr>
            <tr>
                <td>
                    <p style="text-align: center; font-size: smaller">
                        <b>FECHA DEL PAGO</b></p>
                </td>
                <td>
                    <p style="text-align: center; font-size: smaller">
                        <b>FECHA DEL DOCUMENTO</b></p>
                </td>
                <td>
                    <p style="text-align: center; font-size: smaller">
                        <b>TIPO DE DOCUMENTO</b></p>
                </td>
                <td>
                    <p style="text-align: center; font-size: smaller">
                        <b>DOCUMENTO N°</b></p>
                </td>
                <td>
                    <p style="text-align: center; font-size: smaller">
                        <b>CONTROL N°</b></p>
                </td>
                <td>
                    <p style="text-align: center; font-size: smaller">
                        <b>MONTO DOCUMENTO</b></p>
                </td>
                <td>
                    <p style="text-align: center; font-size: smaller">
                        <b>MONTO ABONADO</b></p>
                </td>
                <td>
                    <p style="text-align: center; font-size: smaller">
                        <b>CANTIDAD OBJETO DE RETENCIÓN</b></p>
                </td>
                <td>
                    <p style="text-align: center; font-size: smaller">
                        <b>TARIFA %</b></p>
                </td>
                <td>
                    <p style="text-align: center; font-size: smaller">
                        <b>CONCEPTO DE ISLR</b></p>
                </td>
                <td>
                    <p style="text-align: center; font-size: smaller">
                        <b>IMPUESTO RETENIDO MENOS SUSTRAENDO</b></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="text-align: center; font-size: smaller">
                        FECHA DEL PAGO</p>
                </td>
                <td>
                    <p style="text-align: center; font-size: smaller">
                        FECHA DEL DOCUMENTO</p>
                </td>
                <td>
                    <p style="text-align: center; font-size: smaller">
                        TIPO DE DOCUMENTO</p>
                </td>
                <td>
                    <p style="text-align: center; font-size: smaller">
                        DOCUMENTO N°</p>
                </td>
                <td>
                    <p style="text-align: center; font-size: smaller">
                        CONTROL N°</p>
                </td>
                <td>
                    <p style="text-align: center; font-size: smaller">
                        MONTO DOCUMENTO</p>
                </td>
                <td>
                    <p style="text-align: center; font-size: smaller">
                        MONTO ABONADO</p>
                </td>
                <td>
                    <p style="text-align: center; font-size: smaller">
                        CANTIDAD OBJETO DE RETENCIÓN</p>
                </td>
                <td>
                    <p style="text-align: center; font-size: smaller">
                        TARIFA %</p>
                </td>
                <td>
                    <p style="text-align: center; font-size: smaller">
                        CONCEPTO DE ISLR</p>
                </td>
                <td>
                    <p style="text-align: center; font-size: smaller">
                        IMPUESTO RETENIDO MENOS SUSTRAENDO</p>
                </td>
            </tr>
            <tr>
                <td colspan="5" align="center">
                    <b>TOTALES</b>
                </td>
                <td align="center">
                    -
                </td>
                <td align="center">
                    -
                </td>
                <td align="center">
                    -
                </td>
                <td align="center">
                </td>
                <td align="center">
                </td>
                <td align="center">
                    -
                </td>
            </tr>
            <tr>
                <td colspan="11">
                    <hr />
                </td>
            </tr>
        </table>
        <br />
        <br />
        <br />
        <table width="80%" cellspacing="0" cellpadding="0">
            <tr>
                <td style="width: 48%" align="center">
                    <b>FIRMA Y SELLO AGENTE DE RETENCIÓN </b>
                </td>
                <td>
                </td>
                <td style="width: 48%" align="center">
                    <b>RECIBIDO POR EL PROVEEDOR:</b>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="height:30px">
                </td>
            </tr>
           
            <tr>
                <td style="width: 48%" align="left">
                </td>
                <td>
                </td>
                <td style="width: 48%; height: 35px" align="left">
                    <p>
                        Nombre<b>:</b></p>
                </td>
            </tr>
            <tr>
                <td style="width: 48%" align="left">
                </td>
                <td>
                </td>
                <td style="width: 48%; height: 35px" align="left">
                    <p>
                        C.I<b>.:</b></p>
                </td>
            </tr>
            <tr>
                <td style="width: 48%; height: 35px; border-bottom:solid 2px black;vertical-align:bottom;" align="center">
                    Lcda.
                   
                </td>
                <td>
                </td>
                <td style="width: 48%; height: 35px" align="left">
                    <p>
                        Fecha:</p>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="height:50px">
                </td>
            </tr>
            
            <tr>
                <td colspan="3" align="center">
                S/Reglamento Parcial de la Ley de Impuesto Sobre La Renta en materia de retenciones, aprobado el 12 de Mayo de 1997. Gaceta Oficial N° 36.203, Decreto N° 1808.
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
